body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
** LOGIN
*/
.Login {
  	height: 100vh;
  	width: 100vw;
}

.Login-Card {
  	width: min(25rem, 90%);

	margin: 3em auto;
}

.Login-Img {
  	width: 100%;

	background-color: transparent;
}

.Login-Body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Login-Text {
	width: 100%;

	border-top: 0.1rem solid #000000;
}

.Login-Form {
  	display: flex;

	margin-top: 1rem;
}
/*
TODO: DIFFERENT COLORS FOR EACH REGIONS
	  SET BACKGROUND IMAGE
*/
.Login-Button {
	height: 2.5rem;
	width: 5rem;

	display: flex !important;
	justify-content: center;
	align-items: center;

	border: 1px solid #000000 !important;
	border-radius: 1rem !important;
	padding: 1rem !important;

	background-color: transparent !important;
	color: #000000 !important;
}

.Login-Input {
	height: 2.5rem;
	width: 100%;
	
	margin-left: 0.5rem;

	border: 1px solid #000000;
	border-radius: 1rem;
	padding: 1rem;
}