body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
** LOGIN
*/
.Login {
  text-align: center;
}

.Login-logo {
  height: 40vmin;
  pointer-events: none;
}

.Login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-link {
  color: #61dafb;
}





.Login-card {
  width: 18rem;

  border: 1px solid red;

  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.Login-img {
  width: 100%;

  background-color: black;
}

.Login-body {

}

/* .Login-region {
  display: flex;
  justify-content: space-between;
} */

.Login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
